*.zip
*.tar
*.rar
*.7z
*.mp4
*.mp3
*.sqlite3
*.log
*.pyc
*.pyo
__pycache__/
.env
venv/
env/
media/
staticfiles/
kanisa/share/
node_modules/
*.eot
*.ttf
*.woff
*.woff2

kanisa/
*.pyc
__pycache__/
.env
*.sqlite3
# .gitignore
__pycache__/
*.py[cod]
*.sqlite3
venv/
env/
media/
*.log
*.zip
