# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
node_modules/

# Environments
.env
venv/
.venv/
env/

# IDE/editor
.vscode/
*.idea/

# Archives
*.zip
*.tar
*.rar
*.7z

# Fonts (if generated, not source assets)
*.eot
*.ttf
*.woff
*.woff2
