<!-- report_partials/header.html -->
<div style="
  text-align: center;
  margin-bottom: 20px;
">
  <h2 style="
    font-size: 24px;
    color: #007bff;
    margin-bottom: 8px;
  ">
    Evangelical Lutheran Church of Tanzania
  </h2>

  <div style="
    font-size: 16px;
    font-weight: bold;
    color: #ec1717;
    margin-bottom: 6px;
  ">
    Iringa Diocesan
  </div>

  <div style="
    font-size: 16px;
    font-weight: bold;
    color: #ed790d;
    margin-bottom: 6px;
  ">
    Economy Form Western District
  </div>

  <div style="
    font-size: 16px;
    font-weight: bold;
    color: #ab9505;
  ">
    Mkwawa Fellowship {{ current_datetime|date:"d M Y, H:i" }}
  </div>
</div>
